{% extends "base_dashboard.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="col-5">
    <!--Card with features-->
    <div class="col-12">
        <div class="m-5 card bg-secondary mb-3">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body p-3">
                        <h5 class="feature-title"><span>Find </span> new reads with our SmartSearch feature</h5>
                        <a href="#" class="btn  btn-light mt-3 poppins-light" style="font: 'Poppins', sans-serif;">See Recomendations</a>
                    </div>
                </div>
                <div class="col-md-4">
                    
                  <img src="../images/features.png" class=" mt-5 center img-fluid rounded-start" style="max-width: 120%!important" alt="...">
                </div>
            </div>
          </div>
    </div>
    <!--Latest reviews-->
    <div class="col-12">
            <p class="h3">Latest Reviews</p>
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-3">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-5">
                    <div class="card-body">
                      <h5 class="card-title">Harry Potter y el prisionero de Azkaban</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, soluta!</p>
                      <p class="card-text"><small class="text-body-secondary">2020-05-01</small></p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="row ">
                        <div class="row star-row mt-5">
                            <div class="col-2 star"><i class="sidebar-icon glyphicon glyphicon-star"></i></div>
                            <div class="col-2 star"><i class="sidebar-icon glyphicon glyphicon-star"></i></div>
                            <div class="col-2 star"><i class="sidebar-icon glyphicon glyphicon-star"></i></div>
                            <div class="col-2 star"><i class="sidebar-icon glyphicon glyphicon-star"></i></div>
                            <div class="col-2 star"><i class="sidebar-icon glyphicon glyphicon-star"></i></div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-3">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-5">
                    <div class="card-body">
                      <h5 class="card-title">Harry Potter y el prisionero de Azkaban</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, soluta!</p>
                      <p class="card-text"><small class="text-body-secondary">2020-05-01</small></p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="row ">
                        <div class="row star-row mt-5">
                            <div class="col-2 star"><i class="sidebar-icon glyphicon glyphicon-star"></i></div>
                            <div class="col-2 star"><i class="sidebar-icon glyphicon glyphicon-star"></i></div>
                            <div class="col-2 star"><i class="sidebar-icon glyphicon glyphicon-star"></i></div>
                            <div class="col-2 star"><i class="sidebar-icon glyphicon glyphicon-star"></i></div>
                            <div class="col-2 star"><i class="sidebar-icon glyphicon glyphicon-star"></i></div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-3">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-5">
                    <div class="card-body">
                      <h5 class="card-title">Harry Potter y el prisionero de Azkaban</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, soluta!</p>
                      <p class="card-text"><small class="text-body-secondary">2020-05-01</small></p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="row ">
                        <div class="row star-row mt-5">
                            <div class="col-2 star"><i class="sidebar-icon glyphicon glyphicon-star"></i></div>
                            <div class="col-2 star"><i class="sidebar-icon glyphicon glyphicon-star"></i></div>
                            <div class="col-2 star"><i class="sidebar-icon glyphicon glyphicon-star"></i></div>
                            <div class="col-2 star"><i class="sidebar-icon glyphicon glyphicon-star"></i></div>
                            <div class="col-2 star"><i class="sidebar-icon glyphicon glyphicon-star"></i></div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
    </div>
</div>
<div class="col-5">
    <h3>Currently trending</h3>
    <div class="row">
        <div class="col-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-body">
                        <img src="..." class="img-fluid rounded-start" alt="...">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-body">
                        <img src="..." class="img-fluid rounded-start" alt="...">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-body">
                        <img src="..." class="img-fluid rounded-start" alt="...">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-body">
                        <img src="..." class="img-fluid rounded-start" alt="...">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-body">
                        <img src="..." class="img-fluid rounded-start" alt="...">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-body">
                        <img src="..." class="img-fluid rounded-start" alt="...">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>

</div>


{% endblock  %}